@import url(https://fonts.google.com/css2?Family=Rubik:wght@700&display=swap);

header{
    padding: 20px;
}

h1{
    font-family: 'Rubik',puddles;
    font-size: 48px;
    color: #1b852b;
    text-align: center;
    margin: 0;