@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');

header{
    padding: 20px;
}

h1{
    font-family: "Rubik Puddles", system-ui;
    font-size: 48px;
    color: #1b852b;
    text-align: center;
    margin: 0;