@import url('https://fonts.googleapis.com/css2?family=Rubik+Puddles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');
body{ 
    background-color: #043865;
}
header{
    padding: 20px;
    background-color: #043865;
}

h1{
    font-family: "Rubik Puddles", system-ui;
    font-size: 48px;
    color: #0e82e8;
    text-align: center;
    margin: 0;
}

h3{
    font-family: "Sour Gummy", sans-serif;
    font-size: 40px;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: #FFFFFF;
    text-align: center;
}

a{
    font-family: "Sour Gummy", sans-serif;
    font-size: 30px;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: #0e82e8;
}

li{
     font-family: "Sour Gummy", sans-serif;
    font-size: 30px;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
    color: #0e82e8;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.element1,
.element2{
    margin: 20px;
}

.list{
    text-align: center;
}

ul{
    display: inline-block;
    padding-left: 0;
    list-style-position: inside;
    text-align: center;
}