body{
    background-color: #27595a;
}

/* Bubble style applied to each typed character */
#typewriting-target span,
#typewriting-target2 span,
#typewriting-target3 span,
#typewriting-target4 span,
#typewriting-target5 span {
  display: inline-block;
  margin: 5px;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: #7ec3d2;
  color: #27595a;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  white-space: pre; /* Keeps spaces clean */
}

.lineBubble {
  display: inline-block;
  margin: 5px;
  padding: 15px 25px;
  border-radius: 40px;
  background-color: #7ec3d2;
  color: #27595a;
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  white-space: pre-wrap; /* keeps line breaks if needed */
}
