@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
body {
  background-color: black;
  margin: 0; 
  font-family: Arial, sans-serif;
}

.image-container {
  position: relative;
  display: block;
  text-align: center;
}

.image-container img {
  width: 100%;   
  height: auto;  
  display: block;
}

.overlay-text {
  position: absolute;
  top: 50%;        
  left: 50%;       
  transform: translate(-50%, -50%);
  color: black;
  font-family:"Shadows Into Light Two", cursive;
  font-size: clamp(40px, 8vw, 100px);
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}
.overlay-text.a{
    color: black;
}
.overlay-text.a:hover {
  color: white;
}
.a{
  color: black;
}